<main class="main-content">
  <div class="container">
    <h2 class="mb-4">会員情報編集</h2>
    <%= form_with model: @customer, url: customer_path, method: :patch do |f| %>
      <div class="row mb-3">
        <div class="col-md-3 col-form-label"><%= f.label "ニックネーム" %></div>
        <div class="col-md-4"><%= f.text_field :nick_name, class: "form-control", placeholder: "令和" %></div>
      </div>
      <div class="row mb-3">
        <div class="col-md-3 col-form-label"><%= f.label "プロフィール画像" %></div>
        <div class="col-md-4"><%= f.file_field :image, accept: "image/*", class: "form-control-file" %></div>
      </div>
      <div class="row mb-3">
        <div class="col-md-3 col-form-label"><%= f.label "好きなゲームジャンル" %></div>
        <div class="col-md-4">
          <%= f.collection_check_boxes :genre_ids, Genre.all, :id, :name do |b| %>
            <div class="form-check">
              <%= b.check_box class: "form-check-input" %>
              <%= b.label class: "form-check-label" %>
            </div>
          <% end %>
        </div>
      </div>
      <div class="row mb-3">
        <div class="col-md-3 col-form-label"><%= f.label "自己紹介" %></div>
        <div class="col-md-4"><%= f.text_field :introduction, class: "form-control" %></div>
      </div>
      <div class="row mb-3">
        <div class="col-md-3 col-form-label"><%= f.label "好きなゲーム" %></div>
        <div class="col-md-4"><%= f.text_field :favorite_game, class: "form-control" %></div>
      </div>
      <div class="row">
        <div class="col-md-6 offset-md-3">
          <%= f.submit '編集内容を保存', class: "btn btn-dark btn-block" %>
          <%= link_to "退会する", customers_withdraw_path, method: :patch, class: "btn btn-danger mt-3", data: { confirm: "本当に退会しますか？" } %>
        </div>
      </div>
    <% end %>
  </div>
</main>
