<div class="container">
  <h2>会員情報編集</h2>
    <%= form_with model: @customer, url: customer_path, method: :patch do |f| %>
    <div class="row">
          <div class="col-2 offset-md-1"><%= f.label "ニックネーム" %></div>
          <div class="col-1"><%= f.text_field :nick_name, :size => "10", placeholder: "令和" %></div>
        </div>
        <div class="row">
          <div class="col-2 offset-md-1"><%= f.label "好きなゲームジャンル" %></div>
    　　    <div class="col-1"><%= f.collection_select :genre_id, Genre.all, :id, :name, include_blank: "選択して下さい" %></div>
    　   </div>
    　   <%= f.collection_check_boxes :genre_ids, Genre.all, :id, :name do |b| %>
          <div class="collection-check-box">
          <%= b.check_box %>
          <%= b.label %>
          </div>
        <% end %>
        <div class="col-3">
          <%= f.submit '編集内容を保存', class:"btn btn-success" %>
          <%= link_to "退会する", customers_withdraw_path, method: :patch, :class => "btn btn-danger ms-3", data: { confirm: "本当に退会しますか？" }  %>
        </div>
    <% end %>
 </div>