<div class='container pt-5'>
  <div class="row">
    <div class="text-left"><h1><%= @customer.nick_name %>さんのマイページ</h1></div>
  </div>
    <div class="row">
      <div class="col text-center">
        <% if @customer.image.attached? %>
          <%= image_tag @customer.image, size: "200x200",class: "rounded-circle"  %>
        <% else %>
          <%= image_tag 'no_image', size: "200x200",class: "rounded-circle"  %>
        <% end %>
    </div>
  </div>
    <div class='row'>
      <div class='col text-right'>
              <% if @customer == current_customer %>
                <%= link_to "編集する", edit_customer_path(@customer), class: "btn btn-success" %>
              <% end %>
      </div>
    </div>
    <div class="row m-4 border border-5 ">
      <div class="col text-left">
        <h4><自己紹介></h4>
      <div class="col text-center">
        <%= @customer.introduction %>
      </div>
      </div>
    </div>
      <div class='row m-3'>
        <div class="col text-center">
          <h5><プロフィール></h5>
        </div>
      </div>
      <div class='row'>
       <div class="col text-center">
            <table class='table table-bordered mt-3'>
              <tr>
                <td class='table-active'>ニックネーム</td>
                <td><%= @customer.nick_name %> </td>
              </tr>
              <tr>
                <tr>
                  <td class='table-active'><%= label_tag "年齢" %></td>
                    <td>
                      <% if @customer.birthday.present? %>
                        <%= @customer.age %> 歳
                      <% else %>
                        誕生日を選択してください
                    <% end %>
                    </td>
                </tr>
              <tr>
                <td class='table-active'>好きなゲーム</td>
                <td><%= @customer.favorite_game %> </td>
              </tr>
              <tr>
                <td class='table-active'>好きなゲームジャンル</td>
                <td><%#= @customer.genres.pluck(:name).join(', ') %></td>
              </tr>

              <!--<tr>-->
              <!--  <td class='table-active'>好きなゲームジャンル</td>-->
                <%#= @customer.genre.name) %>
              <!--</tr>-->
                <td class='table-active'>性別</td>
                <td><%= @customer.sex_i18n %> </td>
              </tr>
            </table>

        </div>
    </div>
</div>