<div class='container pt-5'>
    <div class='row'>
        <div class='col-md-6'>
          <h2>マイページ</h2>
            <h5><strong>登録情報</strong>
              <% if @customer == current_customer %>
                <%= link_to "編集する", edit_customer_path(@customer), class: "btn btn-success" %>
              <% end %>
            </h5>

            <table class='table table-bordered mt-3'>
              <tr>
                <td class='table-active'>ニックネーム</td>
                <td><%= @customer.nick_name %> </td>
              </tr>
              <tr>
                <tr>
                  <td class='table-active'><%= label_tag "年齢" %></td>
                    <td>
                      <% if @customer.birthday.present? %>
                        <%= @customer.age %> 歳
                      <% else %>
                        誕生日を選択してください
                    <% end %>
                    </td>
                </tr>
              <tr>
                <td class='table-active'>好きなゲーム</td>
                <td><%= @customer.favorite_game %> </td>
              </tr>
              <tr>
                <td class='table-active'>好きなゲームジャンル</td>
                <td><%#= @customer.genres.pluck(:name).join(', ') %></td>
              </tr>
              <!--<tr>-->
              <!--  <td class='table-active'>好きなゲームジャンル</td>-->
                <td><%#= @customer.genre.name) %></td>
              <!--</tr>-->
              <tr>
                <td class='table-active'>自己紹介</td>
                <td><%= @customer.introduction %> </td>
              </tr>
              <tr>
                <td class='table-active'>性別</td>
                <td><%= @customer.sex %> </td>
              </tr>
            </table>
        </div>
    </div>
</div>