<main class="main-content">
<%= @bulletin_board.title %>
<%= @bulletin_board.message %>


<div>
  <p>コメント件数：<%= @bulletin_board.comments.count %></p>
  <% @bulletin_board.comments.each do |comment| %>
    <%= comment.customer.nick_name %>
    <%= comment.created_at.strftime('%Y/%m/%d') %><%= comment.comment %>
  <% end %>
</div>
<div>
  <%= form_with model: [@bulletin_board, @comment] do |f| %>
    <%= f.text_area :comment, rows: '5', placeholder: "コメントをここに" %>
    <%= f.submit "送信する" %>
  <% end %>
</div>
<%= render "public/favorites/btn", bulletin_board: @bulletin_board %>
</main>