<style>
  .custom-border {
    border: 1px inset #000;
  }
</style>

<main class="main-content">
  <div class="container pt-5">
    <div class="row">
      <div class="col text-center">
        <h3>タイトル</h3>
      </div>
    </div>
    <div class="row">
      <div class="col text-center custom-border bg-white">
        <%= @bulletin_board.title %>
      </div>
    </div>

    <div class="row mt-4">
      <div class="col text-center">
        <h3>内容</h3>
      </div>
    </div>
    <div class="row">
      <div class="col text-center custom-border bg-white">
        <%= @bulletin_board.message %>
      </div>
    </div>
    <%= link_to "削除", admin_bulletin_board_path(@bulletin_board), method: :delete, class: "btn btn-danger btn-sm", data: { confirm: "本当に削除しますか？" } %>
    <div class="line-style-comments mt-4">

      <p class="comment-count">コメント件数：<%= @bulletin_board.comments.count %></p>
      <% @bulletin_board.comments.each do |comment| %>
        <div class="comment-line">
          <div class="comment-header">
            <%= link_to customer_path(comment.customer) do %>
              <%= comment.customer.nick_name %>
            <% end %>
            <%= comment.created_at.strftime('%Y/%m/%d') %>
          </div>
          <div class="comment-text">
            <%= comment.comment %>
          </div>
        </div>
      <% end %>
    </div>
  </div>
</main>
