<div class="container mt-5 mb-5">
  <%= render "public/shared/error_messages", resource: resource %>
  <div class="row my-3">
    <div class="col-sm-8 px-sm-0 offset-sm-1">
      <h2>新規会員登録</h2>
    </div>
  </div>

  <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
    <div class="row">
      <div class="col-3 offset-md-1"><%= f.label "ニックネーム" %></div>
      <div class="col-3"><%= f.text_field :nick_name, :size => "25", placeholder: "" %></div>
    </div>
    <div class="row">
      <div class="col-3 offset-md-1"><%= f.label "メールアドレス" %></div>
      <div class="col-3"><%= f.email_field :email, :size => "25", placeholder: "sample@example.com" %></div>
    </div>
    <div class="row">
      <div class="col-3 offset-md-1"><%= f.label "性別" %></div>
      <div class="col-3"><%= f.select :sex,Customer.sexes_i18n.invert,{} %></div>
    </div>
    <div class="row">
      <div class="col-3 offset-md-1"><%= f.label "誕生日" %></div>
      <div class="col-3"><%= f.date_select :birthday, start_year: Time.now.year - 100, end_year: Time.now.year, order: [:year, :month, :day], prompt: { year: 'Year', month: 'Month', day: 'Day' }, class: 'form-control' %></div>
    </div>
    <div class="row">
      <div class="col-3 offset-md-1">
        <% if @minimum_password_length %>
          <%= f.label "パスワード(#{@minimum_password_length}文字以上)" %>
        <% end %>
      </div>
      <div class="col-3"><%= f.password_field :password %></div>
    </div>
    <div class="row">
      <div class="col-3 offset-md-1"><%= f.label "パスワード(確認用)" %></div>
      <div class="col-3"><%= f.password_field :password_confirmation %></div>
    </div>
    <div class="row">
      <div class="col-2 offset-md-1 mt-3 mb-5">
        <%= f.submit "新規登録", class:"col btn btn-success" %>
      </div>
    </div>
  <% end %>
  <div class="row my-3">
    <div class="col-sm-4 px-sm-0 offset-sm-1">
      <h5>すでに登録済みの方</h5>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-2 px-sm-0 offset-sm-1">
      <%= render "public/shared/links" %>
    </div>
  </div>
</div>