<footer>
  <nav class="navbar navbar-expand-lg navbar-light" style="background-color:#808080">
    <div class="container">
      <!-- ナビゲーションヘッダー（タイトルやロゴなど） -->
      <a class="navbar-brand" href="#"></a>

      <!-- メニュー項目 -->
      <ul class="navbar-nav ">
        <% if admin_signed_in? %>
          <li class="nav-item">
            <%= link_to admin_customers_path, class: 'nav-link text-light' do %>
              <i class=""></i> 顧客一覧
            <% end %>
          </li>
          <li class="nav-item">
            <%= link_to admin_genres_path, class: 'nav-link text-light' do %>
              <i class=""></i> ジャンル一覧
            <% end %>
          </li>
          <li class="nav-item">
            <%= link_to destroy_admin_session_path, method: :delete,class: 'nav-link text-light' do %>
              <i class=""></i> ログアウト
            <% end %>
          </li>
        <% elsif customer_signed_in? %>
          <li class="nav-item">
            <%= link_to customer_path(current_customer), class: 'nav-link text-light' do %>
              <i class=""></i> マイページ
            <% end %>
          </li>
          <li class="nav-item">
            <%= link_to bulletin_boards_path, class: 'nav-link text-light' do %>
              <i class=""></i> 掲示板
            <% end %>
          </li>
          <li class="nav-item">
            <%= link_to new_bulletin_board_path, class: 'nav-link text-light' do %>
              <i class=""></i> 投稿する
            <% end %>
          </li>
          <li class="nav-item">
            <%= link_to favorited_bulletin_boards_path, class: 'nav-link text-light' do %>
              <i class=""></i> いいねした投稿
            <% end %>
          </li>
        <% else %>
          <li class="nav-item">
            <%= link_to about_path,class: 'nav-link text-light' do %>
              <i class=""></i> About
            <% end %>
          </li>
          <li class="nav-item">
            <%= link_to new_customer_registration_path,class: 'nav-link text-light' do %>
              <i class=""></i> 新規登録
            <% end %>
          </li>
          <li class="nav-item">
            <%= link_to customer_session_path ,class: 'nav-link text-light' do %>
              <i class=""></i> ログイン
            <% end %>
          </li>
          <li class="nav-item">
            <%= link_to 'ゲストログイン（閲覧用）', customers_guest_sign_in_path, method: :post, class: 'nav-link text-light' %>
          </li>
        <% end %>
      </ul>
    </div>
  </nav>
</footer>
