<header>
  <nav class="navbar navbar-expand-lg navbar-light" style="background-color:#808080">
    <div class="container">
      <a class="text-light" href="/"><%= image_tag('logo.png', size: '50x50') %>  ゲーマーコミュニティ</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNavDropdown">
        <ul class="navbar-nav ml-auto">
          <% if admin_signed_in? %>
            <li class="nav-item">
              <%= link_to admin_customers_path, class: 'nav-link text-light' do %>
                <i class=""></i> 会員一覧
              <% end %>
            </li>
            <li class="nav-item">
            <%= link_to admin_bulletin_boards_path, class: 'nav-link text-light' do %>
              <i class=""></i> 掲示板一覧
            <% end %>
          </li>
            <li class="nav-item">
              <%= link_to admin_genres_path, class: 'nav-link text-light' do %>
                <i class=""></i> ジャンル追加・一覧
              <% end %>
            </li>
            <li class="nav-item">
              <%= link_to destroy_admin_session_path, method: :delete, class: 'nav-link text-light' do %>
                <i class=""></i> ログアウト
              <% end %>
            </li>
          <% elsif customer_signed_in? %>
            <li class="nav-item ">
              <div class="text-white">ログイン中です <%= current_customer.nick_name %></div>
            </li>
            <li class="nav-item">
              <%= link_to destroy_customer_session_path, method: :delete, class: 'nav-link text-light' do %>
                <i class=""></i> ログアウト
              <% end %>
            </li>
          <% else %>
            <li class="nav-item">
              <%= link_to new_customer_registration_path, class: 'nav-link text-light' do %>
                <i class=""></i> 新規登録
              <% end %>
            </li>
            <li class="nav-item">
              <%= link_to customer_session_path, class: 'nav-link text-light' do %>
                <i class=""></i> ログイン
              <% end %>
            </li>
            <li class="nav-item">
              <%= link_to 'ゲストログイン（閲覧用）', customers_guest_sign_in_path, method: :post, class: 'nav-link text-light' %>
            </li>
          <% end %>
        </ul>
      </div>
    </div>
  </nav>
</header>
